  .c-btn--primary {
    color: $button-primary-text-color;
    background-color: $primary-color;
    @include hover-transition(background-color);
    &:hover {
      background-color: $primary-color-hover;
    }
  }

  .c-btn--med {
    min-width: 130px;
  }
