@import './../../styles/partner/<!--partnerName--settings-->';
@import './../../styles/_tools';

.c-landing {
  text-align: center;
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 37vh;
  @include background-with-overlay(
    $landing-background,
    $landing-background-overlay
  );
}

  .c-landing__content {
    padding: 0 30px;
    margin: auto;
    max-width: 700px;
  }

  .c-landing__start-journey-btn {
    height: 70px;
    width: 210px;
  }
