@import './../../styles/partner/<!--partnerName--settings-->';
@import './../../styles/_tools';

  .c-holiday-highlight__image {
    height: 300px;
    background-position: center;
    background-size: cover;
  }

  .c-holiday-highlight__text {
    padding: 20px;
  }
