.u-fade-appear,
.u-fade-enter {
  opacity: 0;
}

.u-fade-appear-active,
.u-fade-enter-active {
  transition: opacity .3s linear;
  opacity: 1;
}

.u-fade-exit {
  transition: opacity .2s linear;
  opacity: 1;
}

.u-fade-exit-active {
  opacity: 0;
}
