@import './../../styles/partner/<!--partnerName--settings-->';
@import './../../styles/_tools';

@mixin applyToLargerThanMobile() {
  @media screen and (min-width: 700px) {
    @content;
  }
}

.c-holiday-result__first-image {
  @include background-with-overlay(
    rgba(0, 0, 0, 0),
    $results-main-image-background
  );
}

.c-holiday-result__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-holiday-result__highlight {
  display: flex;
  flex-direction: column;
}

.c-holiday-result__card {
  min-height: 500px;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  &:nth-child(even) {
    .c-holiday-result__highlight__content {
      text-align: left;
      @include applyToLargerThanMobile() {
        padding-left: 0;
        padding-right: 50%;
      }

      &:before {
        @include applyToLargerThanMobile() {
          background: linear-gradient(
            90deg,
            $result-highlight-card-end-gradient,
            $result-highlight-card-middle-gradient,
            $result-highlight-card-start-gradient
          );
        }
      }
    }
  }
}

  .c-holiday-result__highlight__content {
    padding-top: 50%;
    position: relative;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include applyToLargerThanMobile() {
      text-align: right;
      padding-left: 50%;
      padding-top: 0;
    }

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        $result-highlight-card-start-gradient,
        $result-highlight-card-middle-gradient,
        $result-highlight-card-end-gradient
      );

      @include applyToLargerThanMobile() {
        background: linear-gradient(
          90deg,
          $result-highlight-card-start-gradient,
          $result-highlight-card-middle-gradient,
          $result-highlight-card-end-gradient
        );
      }
    }
  }

  .c-holiday-result__highlight__inner {
    padding: $default-spacing-unit * 4;
    position: relative;
  }

.c-holiday-result__facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-holiday-result__none-found {
  @include background-with-overlay(
    $results-main-image-background,
    $results-main-image-background
  );
}

  .c-holiday-result__none-found__text {
    position: absolute;
    top: calc(50% - #{$header-height / 2});
    left: 50%;
    transform: translate(-50%, -50%);
  }
