@import './../../styles/partner/<!--partnerName--settings-->';
@import './../../styles/_tools';

.c-holiday-result__first-image {
  @include background-with-overlay(
    rgba(0, 0, 0, 0),
    $results-background
  );
}

.c-holiday-result__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-holiday-result__highlight {
  display: flex;
  flex-direction: column;
}

.c-holiday-result__card {
  width: 100%;
  min-height: 350px;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  &:nth-child(even) {
    .c-holiday-result__highlight__content {
      padding-left: 0;
      padding-right: 50%;
      text-align: left;

      &:before {
        background: linear-gradient(
          90deg,
          $result-highlight-card-end-gradient,
          $result-highlight-card-middle-gradient,
          $result-highlight-card-start-gradient
        );
      }
    }
  }
}

  .c-holiday-result__highlight__content {
    position: relative;
    padding-left: 50%;
    height: 100%;
    text-align: right;
    flex: 1;
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        90deg,
        $result-highlight-card-start-gradient,
        $result-highlight-card-middle-gradient,
        $result-highlight-card-end-gradient
      );
    }
  }

  .c-holiday-result__highlight__inner {
    padding: $default-spacing-unit * 4;
    position: relative;
  }

.c-holiday-result__none-found {
  position: absolute;
  top: calc(50% - #{$header-height / 2});
  left: 50%;
  transform: translate(-50%, -50%);
}
