@import './../../styles/partner/<!--partnerName--settings-->';
@import './../../styles/_tools';

.c-holiday-result__first-image {
  min-height: 500px;
  margin: auto;
  display: block;
  background-size: cover;
  background-position: center;
}

.c-holiday-result__details {
  margin-top: -70px;
  position: relative;
  background: $app-background-color;
  padding: 50px;
  text-align: center;
}

.c-holiday-result__none-found {
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: calc(100vh - #{$header-height});
}

  .c-holiday-result__none-found__text {
    transform: translateY(-$header-height);
  }
