$primary-color: rgb(36, 116, 235) !default;
$button-primary-text-color: #FFFFFF !default;
$selection-color: $primary-color !default;
$primary-color-hover: lighten($primary-color, 10%) !default;
$selector-color: #FFFFFF;

$text-color-main: #FFFFFF !default;
$text-color-titles: #FFFFFF !default;
$nav-link-color: $text-color-main !default;
$nav-link-color-selected: darken($nav-link-color, 10%);
