$app-background-color: #FFFFFF !default;

$primary-color: rgb(36, 116, 235) !default;
$button-primary-text-color: #FFFFFF !default;
$selection-color: $primary-color !default;
$primary-color-hover: lighten($primary-color, 10%) !default;
$selector-color: #FFFFFF !default;
$loading-spinner-color: $selector-color !default;
$form-text-color: $button-primary-text-color !default;

$text-color-main: #1E1E1E !default;
$text-color-titles: #1E1E1E !default;
$nav-link-color: $text-color-main !default;
$nav-link-color-selected: darken($nav-link-color, 10%) !default;

$result-first-image-overlay: rgba(0, 0, 0, 0.2) !default;
$results-divider-color: #000000 !default;
$results-badge-color: $results-divider-color !default;
