@mixin page-animation() {
  transition: transform 0.5s, opacity 0.5s;
  $start-animation-transform: translate3d(0, 100%, 0);
  $visible-animation-transform: translate3d(0, 0, 0);
  $end-animation-transform: translate3d(0, -100%, 0);

  &.transition-appear {
    opacity: 0;
    transform: $start-animation-transform;
  }

  &.transition-appear.transition-appear-active {
    opacity: 1;
    transform: $visible-animation-transform;
  }

  &.transition-leave {
    opacity: 1;
    transform: $visible-animation-transform;
  }

  &.transition-leave.transition-leave-active {
    opacity: 0;
    transform: $end-animation-transform;
  }
}
