@mixin background-with-overlay(
  $mainBackground,
  $overlayBackground
) {
  min-height: 100vh;
  background: $mainBackground;
  background-size: cover;
  position: relative;
  z-index: 0;

  &:after {
    z-index: -1;
    content: '';
    @include fill-parent();
    background: $overlayBackground;
  }
}
