@import './../../styles/partner/<!--partnerName--settings-->';
@import './../../styles/_tools';

.c-shared-app-with-navigator__main {
  position: relative;
}

.c-shared-app-with-navigator__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
